/* #region Base */
/* body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 14px;
    background-color: #FFFFFF;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    min-height: auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
}
input {
    font-family: inherit;
}

address {
    font-style: normal;
} */
/* #endregion Base */

/* #region Component */


/* .container { 
max-width: 1158px; 
margin: 0 auto;
padding: 0 15px;
outline: 2px solid red;
    outline-offset: -2px;
}  */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

/* #endregion Component */


/* #region Header */
.header {
    /* border-bottom: 1px solid #e7e9fc; */
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    
   
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.logo-head{
color: #2e2f42;
}



.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav-item {
        
        padding: 24px 0;
}
.header-nav-link{
    color: #2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.color-item {
    color: #404bbf;
}

.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
}


.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

.address{
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 100%;
    
}

.address-list-item {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.address-list-item:hover,
.address-list-item:focus {
    color: #404bbf;
}

/* #endregion Header */
/* #region Hero */
.hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
}

.hero .container {
    
}
.page-title {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 1.12px;
    text-align: center;
    color: white;
    max-width: 496px;
    outline: red 1px solid;
    margin: 0 auto 48px;
}

.button-hero {
    min-width: 169px;
    height: 56px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
    background-color: #404BBF;
}
/* #endregion Hero */
/* #region properties */

.properties {
    padding: 120px 0;
}
.properties-list{
    display: flex;
    gap: 24px;
    
}
.properties-icon{
width: 264px;
height: 112px;
flex-shrink: 0;
border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
}

.title {
    font-size: 20px;
    font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.properties-list-item .title {
    margin-bottom: 8px;
    
}
.properties-list-item {
    display: flex;
        width: calc((100% - 72px) / 4);
        flex-direction: column;
        align-items: flex-start;
}
.page{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.section-title {
    font-size: 36px;
        color: #2E2F42;
        font-weight: 500;
            line-height: 1.11;
            letter-spacing: 0.02em;
        text-transform: capitalize;
    text-align: center;
}
/* #endregion properties */
/* #region Team */
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team .section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    
    gap: 24px;
}

.team-list-item {
    display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 4px 4px;
            background: var(--WHITE, #FFF);
            box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.team-list-item-div {
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}

.team-list-item-div .title {
    margin-bottom: 8px;
    text-align: center;

}
.team-list-item-div .page {
    text-align: center;
    margin-bottom: 8px;
}
.socials
{
    display: flex;
    justify-content: center;
gap: 24px;
}
.socials-item {
    
}
.socials-link {
    width: 40px;
    height: 40px;
    fill: var(--CLOUD, #F4F4FD);
    background-color: var(--IRIS, #4D5AE5);
    /* border: 1px solid rgb(21, 11, 11); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover, .socials-link:focus {

    background-color: var(--OCEAN, #404BBF);
}

/* #endregion Team */


/* #region Our Portfolio */
  .portfolio {
      padding: 120px 0;
    }
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio .section-title {
    margin-bottom: 72px;
}

.portfolio-list-item {
    display: flex;
        width: 360px;
        height: 420px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-shrink: 0;
        background: var(--WHITE, #FFF);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-wraper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
font-size: 16px;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    display: flex;

    color: var(--CLOUD, #F4F4FD);
    backdrop-filter: blur(15px);
    background: var(--IRIS, #4D5AE5);
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;

}
.portfolio-list-item:hover .overlay {
    transform: translateY(0%);
}
.portfolio-list-item:hover{

        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item-div {
    display: flex;
        height: 120px;
        padding: 32px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-shrink: 0;
        align-self: stretch;
        border-right: 1px solid var(--CORNFLOWER, #E7E9FC);
            border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
            border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
}
.portfolio-list-item-div .title {
    margin-bottom: 8px;
}

/* #endregion Our Portfolio */


/* #region footer */
.footer {
        padding: 100px 0;
    background-color: #2E2F42;    
    
}

.footer-page {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.footer-list{
    margin-right: 120px;
}
.footer-div {
    
    display: flex;
        align-items: baseline;
}
.footer-socials-div{
    margin-right: 80px;
}
.footer-social-page{
color: var(--WHITE, #FFF);
font-weight: 500;
font-size: 16px;
letter-spacing: 0.02em;
margin-bottom: 16px;
}

.footer-socials {
    display: flex;
    gap: 16px;
}

.footer-socials-item {}

.footer-socials-link {
    width: 40px;
    height: 40px;
    fill: var(--CLOUD, #F4F4FD);
    background-color: var(--IRIS, #4D5AE5);
    /* border: 1px solid rgb(21, 11, 11); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover, .footer-socials-link:focus {

    background-color: var(--GREEN, #31D0AA);
}

.logo-footer {
    text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-foot {
    color: #f4f4fd;
}

.form-footer {
    display: flex;
    gap: 24px;
}

.footer-label {

}
.footer-input {
            min-width: 264px;
                height: 40px;
            border-radius: 4px;
                border: 1px solid var(--WHITE, #FFF);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
            outline: none;
            padding: 8px 16px 8px 16px;
            background-color: transparent;
    
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: border-color;

            color: var(--WHITE, #FFF);
                font-size: 12px;
                font-weight: 400;
                line-height: 24px;
                /* 200% */
                letter-spacing: 0.48px;
}
.footer-input::placeholder {
    color: var(--WHITE, #FFF);
}
.footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
        padding: 8px 24px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
            background: var(--IRIS, #4D5AE5);
        color: var(--WHITE, #FFF);
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.64px;
            border: none;
}
.footer-btn-icon {
    margin-left: 16px;
}
/* #endregion footer */

/*  #region Modal  */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
 
    z-index: 999;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.modal {
    width: 408px;
    min-height: 584px;

    border-radius: 4px;
        background: var(--DAIRY, #FCFCFC);
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
        height: 24px;
        background-color: var(--CORNFLOWER, #E7E9FC);
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.10);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-modal-btn:hover,
.close-modal-btn:focus {
    background-color: var(--OCEAN, #404BBF);
    border: none;
    fill: #FFFFFF;
}

.close-modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
    margin-bottom: 16px;


}

.modal-wrapper {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;

    color: var(--LIGHT-SLATE, #8E8F99);
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.48px;
        line-height: 1.17;
}

.modal-filed {
    position: relative;
}

.modal-fieled-input {
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;
}



.modal-fieled-input:focus {
    border-color: #4D5AE5; 
}

.modal-fieled-input:focus+.modal-filed-icon {
    fill: #4D5AE5;
}



.modal-filed-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
}

.modal-textarea-wrapper {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    resize: none;
    min-height: 120px;
    outline: transparent;
    padding: 8px 16px;
    color: #404040;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color;

    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        background-color: transparent;
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {

    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
}


.modal-wrapper-checkbox {
    margin-bottom: 24px;
}


.checkbox:checked+.checkbox_user>.checkbox-user-span {
    background-color: #404BBF;
    border: transparent;
    fill: #F4F4FD;;
}

.checkbox-user-span {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    height: 16px;
    width: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-user-span svg {
    /* fill: currentColor; */
}

.checkbox_user {
    
    cursor: pointer;

    color: var(--LIGHT-SLATE, #8E8F99);
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
            letter-spacing: 0.04em;
}

.checkbox-user-link {
    color: #4d5ae5;;
    text-decoration: underline;

}

.form-btn {
    display: block;
        padding: 16px 32px;
        margin: 0 auto;
    align-items: center;
    justify-content: center;
        
    min-width: 169px;
    height: 56px;
    
    border-radius: 4px;
    border: none;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.64px;
    
    color: #fff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.form-btn:hover,
.form-btn:focus {
    background: var(--OCEAN, #404BBF);
}


/* #endregion Modal */